<div class="bg">
  <div class="card">
    <h2 class="title">Nuevo Juego</h2>
    <!--BEGIN: TUS CAMBIOS AQUI-->
    <form>
      <div class="field">
        <label for="name">Nombre</label>
        <input [(ngModel)]="gameNewData.name" name="name" id="name" type="text" />
      </div>
      <div class="field">
        <label for="name">Descripción</label>
        <textarea [(ngModel)]="gameNewData.description" name="description" id="name" type="text"></textarea>
      </div>
      <div class="actions">
        <button (click)="newGame()"  type="submit" class="btn-primary">Crear</button>
        <a href="/angular/senior/games" class="btn-secondary">Cancelar</a>
      </div>
    </form>
    <!--END: TUS CAMBIOS AQUI-->
  </div>
</div>