<div class="wrapper">
  <h1 class="title">Galería</h1>
  <ul>
    <li>
      <figure>
        <img src="/assets/gallery/img1.jpeg" />
        <figcaption>Mural, Dan Farrel</figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/gallery/img2.jpeg" />
        <figcaption>Poster, Alice Donovan</figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/gallery/img3.jpeg" />
        <figcaption>Mordern Art, John Schaidler</figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/gallery/img4.jpeg" />
        <figcaption>Painting, Steve Johnson</figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/gallery/img5.jpeg" />
        <figcaption>Splatter, Jené Stephaniuk</figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/gallery/img6.jpeg" />
        <figcaption>Modern Art, Gabriela Gómez</figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/gallery/img7.jpeg" />
        <figcaption>Wallpaper, Pawel Czerwinski</figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/gallery/img8.jpeg" />
        <figcaption>Mural, Raghav Modi</figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/gallery/img9.jpeg" />
        <figcaption>Head, Fibian Bachli</figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="/assets/gallery/img10.jpeg" />
        <figcaption>Texture, Pawel Czerwinski</figcaption>
      </figure>
    </li>
  </ul>
</div>